<div id="aboutRoot">
    <div id="about">
        <div id="textSide">
            <h2>{{ about_title }}</h2>

            <p>
               {{ about_body_1 }}
            </p>

            <p>
                {{ about_body_2 }}
            </p>

            <a href="https://{{ school_domain }}/dashboard">
            <button class="mobileFull">
                {{ about_button_text }}
            </button>
            </a>
        </div>

        <div id="imageSide">
            <img src="{{ about_image }}" alt="about image" />
        </div>
    </div>
</div>
        
