<div id="hero" style="background-image: linear-gradient(45deg, #000e42, rgba(0, 0, 0, 0.5)), url({{ banner_background_image }}); background-size: cover; ">
    <div id="contentArea" >
        <h1 style="color:#fff;">
            {{ banner_title }}
        </h1>

        <p style="color:#fff;">
            {{ banner_body_1 }}
        </p>

        <div class="ctaRoot">
            <a href="https://{{ school_domain }}/dashboard">
             <button class="mobileFull">{{ banner_button_text_1 }}</button>
            </a>
            {% comment %}<button id="learnMoreCta" class="outlinedButton mobileFull">Learn More</button>{% endcomment %}
        </div>
    </div>
</div>
