<div id="endCtaRoot">
    <h1>{{ end_cta_header }}</h1>

    <p>
       {{ end_cta_body_1 }}
    </p>

    <a href="https://{{ school_domain }}/dashboard">
        <button>{{ end_cta_button_text }}</button>
    </a>
</div>
