<!DOCTYPE html>
<head>

    <title>{{ school_details.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}<base href="https://pledre-assets.s3.us-east-2.amazonaws.com/school-templates/template_3/" target="_blank">{% endcomment %}
    <base href="https://assets.media.pledre.com/school-templates/template_3/" target="_blank">

    <link rel="stylesheet" href="global.css">


</head>
<nav id="navigation">

    <a href="https://{{ school_domain }}" id="logoHolder">
        <img  src="{{ school_details.logo }}" alt="logo">
    </a>

    {% comment %}<ul id="navLinkRoot">{% endcomment %}
        {% comment %}<li onclick="scrollToSection('hero');">Home</li>{% endcomment %}
        {% comment %}<li onclick="scrollToSection('aboutRoot');">About</li>{% endcomment %}
        {% comment %}<li onclick="scrollToSection('topCourses');">Courses</li>{% endcomment %}
        {% comment %}<li onclick="scrollToSection('testimonialsRoot');">Testimonials</li>{% endcomment %}
        {% comment %}<li>Blog</li>{% endcomment %}
    {% comment %}</ul>{% endcomment %}
{% comment %}{% endcomment %}
    {% comment %}<div id="dropDownRoot">{% endcomment %}
        {% comment %}<button id="dropDownNav">{% endcomment %}
            {% comment %}Menu <span class="icon-arrow_drop_down"></span>{% endcomment %}
        {% comment %}</button>{% endcomment %}
{% comment %}{% endcomment %}
        {% comment %}<ul id="dropDown">{% endcomment %}
            {% comment %}<li onclick="scrollToSection('hero');">Home</li>{% endcomment %}
            {% comment %}<li onclick="scrollToSection('aboutRoot');">About</li>{% endcomment %}
            {% comment %}<li onclick="scrollToSection('topCourses');">Courses</li>{% endcomment %}
            {% comment %}<li onclick="scrollToSection('testimonialsRoot');">Testimonials</li>{% endcomment %}
            {% comment %}<li>Blog</li>{% endcomment %}
        {% comment %}</ul>{% endcomment %}
    {% comment %}</div>{% endcomment %}


    <a href="https://{{ school_domain }}/dashboard"  class="noMobile">
        <button class="button dashboard-button">
            {% comment %}<span class="dashboard-button"></span>{% endcomment %}
            Go to your dashboard
        </button>
    </a>

</nav>

{% comment %}Dynmic section begin {% endcomment %}
{{ template_group_layouts }}
{% comment %}Dynmic section end {% endcomment %}

<script type="text/javascript" src="javascript/pageScrolling.js"></script>
<script type="text/javascript" src="javascript/topCourses.js"></script>
<script type="text/javascript" src="https://assets.media.pledre.com/school-templates/pledre-theme.js"></script>
<script>
    console.log("running script")
    let userType = window.pledreTheme.auth.getUserType()
    let message = "Go to dashboard"
    switch (userType){
        case "teacher":
            message = "Teacher console"
            break
        case "student":
            message = "Class console"
            break
        case "admin":
            message = "Admin dashboard"
            break
        default:
            message = "Login / Signup"
    }

    const dashboardButtons = document.getElementsByClassName('dashboard-button')
    for(let i = 0; i< dashboardButtons.length; i++){
        const btn = dashboardButtons[i]
        btn.innerText = message
    }
</script>
</body>
</html>