<div id="offersRoot">
    <h2 class="sectionHeader">{{ offers_header }}</h2>

    <div id="offerContent">
        <div class="offer">
            <div class="offerImage">
                <img src="images/Offer 1.png" alt="offer 1" />
            </div>

            <h3>{{ offers_item_1 }}</h3>

            <p>
                {{ offers_item_1_body }}
            </p>
        </div>

        <div class="offer">
            <div class="offerImage">
                <img src="images/Offer 2.png" alt="offer 1" />
            </div>

            <h3>{{ offers_item_2 }}</h3>

            <p>
               {{ offers_item_2_body }}
            </p>
        </div>

        <div class="offer">
            <div class="offerImage" id="offer3">
                <img src="images/Offer 3.png" alt="offer 1" />
            </div>

            <h3>{{ offers_item_3 }}</h3>

            <p>
                {{ offers_item_3_body }}
            </p>
        </div>
    </div>
</div>
