<div id="registrationRoot">
    <div id="imageText">
        <h3>
            LEARN 24/7 ANYWHERE, ANYTIME ON ANY DEVICE.
            TRAINING THAT WORKS!
        </h3>

        <h2>
            Register now
        </h2>

        <img src="images/None 2.png" alt="register image" />
    </div>

    <form id="regForm">
        <div id="speshInputs">
            <div class="halfSpesh">
                <div class="inputBox">
                    <span>First name</span>
                    <input type="text">
                </div>
            </div>
            <div class="halfSpesh">
                <div class="inputBox">
                    <span>Last name</span>
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="inputBox">
            <span>Email address</span>
            <input type="text">
        </div>

        <div class="inputBox">
            <span>Phone number</span>
            <input type="text">
        </div>

        <div class="inputBox">
            <span>Password</span>
            <input type="text">
        </div>

        <div class="inputBox">
            <span>Confirm password</span>
            <input type="text">
        </div>

        <button>
            Sign up
        </button>
    </form>
</div>