<div id="teamRoot">
    <h2 class="sectionHeader">{{ team_header }}</h2>

    <div id="teamContent">
        <div class="teamMember">
            <img src="{{ team_1_image }}" alt="offer 1" />

            <h3>{{ team_1_name }}</h3>

            <p>
                {{ team_1_title }}
            </p>
        </div>

        <div class="teamMember">
            <img src="{{ team_2_image }}" alt="offer 1" />

            <h3>{{ team_2_name }}</h3>

            <p>
                {{ team_2_title }}
            </p>
        </div>

        <div class="teamMember">
            <img src="{{ team_3_image }}" alt="offer 1" />

            <h3>{{ team_3_name }}</h3>

            <p>
                {{ team_3_title }}
            </p>
        </div>
    </div>
</div>
