<div id="testimonialsRoot">
    <h2 class="sectionHeader">{{ testimonial_heading }}</h2>

    <div id="studentsRoot">
        <div id="studentsSlider">
            <div id="studentsHolder">
                <div id="mainStudent">
                    <div id="mainTestimony">
                        <p>
                           {{ testimonial_1_body }}
                        </p>

                        <div id="mainStudentInfo">
                            <div class="studentInfo">
                                <div class="studentName">{{ testimonial_1_name }} <span>Student</span></div>
                                <div class="studentJob">{{ testimonial_1_job }}</div>
                            </div>
                        </div>



                    </div>
                    <div id="underline" ></div>

                    <div id="mainStudentImage">
                        <img src="{{ testimonial_1_image }}" alt="student image" />
                    </div>
                </div>

                <div class="secondaryStudents">
                    <div class="secStudentImage">
                        <div class="secStudentImageScreen">
                            {{ testimonial_2_body }}
                        </div>

                        <img src="{{ testimonial_2_image }}" alt="student 2" />

                    </div>

                    <div class="studentInfo">
                        <div class="studentName">{{ testimonial_2_name }}<span>Student</span></div>
                        <div class="studentJob">{{ testimonial_2_job }}</div>
                    </div>
                </div>

                <div class="secondaryStudents">
                    <div class="secStudentImage">
                        <div class="secStudentImageScreen">
                            {{ testimonial_3_body }}
                        </div>

                        <img src="{{ testimonial_3_image }}" alt="student 2" />

                    </div>

                    <div class="studentInfo">
                        <div class="studentName">{{ testimonial_3_name }}<span>Student</span></div>
                        <div class="studentJob">{{ testimonial_3_job }}</div>
                    </div>
                </div>

                <div class="secondaryStudents">
                    <div class="secStudentImage">
                        <div class="secStudentImageScreen">
                            {{ testimonial_4_body }}
                        </div>

                        <img src="{{ testimonial_4_image }}" alt="student 2" />

                    </div>

                    <div class="studentInfo">
                        <div class="studentName">{{ testimonial_4_name }}<span>Student</span></div>
                        <div class="studentJob">{{ testimonial_4_job }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
