<div id="topCourses" style="padding: 6%; margin-bottom: 20px">
    <h1 class="sectionHeader">{{ top_courses_title }}</h1>

    <div id="coursesNavRoot">
        <div id="topCoursesNavRoot">
            <div id="topCoursesNav">
                {% for course in top_courses_items  %}
                    <div
                            class="courseButton {{ " " }} {%- if forloop.first == true -%} active {%- endif %}"
                            id="{{ course.slug }}-button"
                            onclick="changeTopCourse('{{ course.slug }}');"
                    >{{ course.name }}</div>
                {% endfor %}
            </div>
        </div>

    </div>


    {% for course in top_courses_items  %}
    <div class="courseContent {{ " " }}  {%- if forloop.first == true -%} activeCourse {%- endif %}" id="{{ course.slug }}" style="min-width: 90%; overflow-y: auto; height: 600px">
        <div class="courseImage">
            <img src="{{ course.background_image }}" alt="course image" />
        </div>

            <div class="courseText">
                <h2 style="font-size: 2.4em">{{ course.name }}</h2>

                <p>{{ course.description }}</p>

                <div class="courseInfo">
                    <div class="courseDuration infoBox" style="flex-basis: 100%">
                        <span class="icon-access_time infoIcon"></span>{{ course.start_date | date: "%a, %b %d, %y" }} to {{ course.end_date | date: "%a, %b %d, %y" }}
                    </div>

                    {% comment %}<div class="infoBox">{% endcomment %}
                        {% comment %}<span class="icon-people_outline infoIcon"></span>{{ course.price }}{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                </div>

                <a href="https://{{ school_domain }}/course-details/{{ course.slug }}">
                    <button>
                    Go to course
                    </button>
                </a>
            </div>
    </div>
    {% endfor %}

</div>